{% extends "bjwebb/base.html" %}
{% load url from future %}

{% block extrahead %}
{% if flatpage.url == '/' %}
<link rel="openid.server" href="http://bjwebb.co.uk/openid/">
<link rel="openid2.provider" href="http://bjwebb.co.uk/openid/">

<link rel="openid2.local_id" href="http://bjwebb.co.uk/openid/bjwebb/">
<link rel="openid.delegate" href="http://bjwebb.co.uk/openid/bjwebb/">
{% endif %}
{% endblock %}

{% block header_home %}
{% load flatcontent_tags %}
{% if flatpage.url == '/' %}
<li class="active">
<h2>{% flatcontent home_title %}</h2></li>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}



{% block content %}

{% if flatpage.title %}
<h2>{{ flatpage.title }} </h2>
{% endif %}

<div class="section">
{{ flatpage.content|linebreaks }}
</div>

{% endblock %}

