<!doctype html>
{% load url from future %}
{% load static from staticfiles %}
<html>
{% load flatcontent_tags %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="{% static 'bjwebb/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{% static 'bjwebb/css/print.css' %}" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="{% static 'bjwebb/css/ie.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
<title>{% block title %}{% flatcontent title %}{% endblock %}</title>
{% block extrahead %}
{% endblock %}
</head>
<body>

<div id="root">

<div id="headerWrap">
<div id="header">
    <h1><a href="{% url 'home' '' %}">{% flatcontent header %}</a></h1>
    <ul class="nav">
        {% block header_home %}
        <li>
        <a href="{% url 'home' '' %}">{% flatcontent home_title %}</a></li>
        {% endblock %}
        {% block header_projects %}
        <li>
        <a href="{% url 'bjwebb.views.projects' %}">{% flatcontent projects_title %}</a></li>
        {% endblock %}
        {% block header_posts %}
        <li>
        <a href="{% url 'bjwebb.views.posts' %}">{% flatcontent posts_title %}</a></li>
        {% endblock %}
        {% block header_events %}
        <li>
        <a href="{% url 'bjwebb.views.events' %}">{% flatcontent events_title %}</a></li>
        {% endblock %}
    </ul>
</div>
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="root_footer"></div>
</div>

<div id="footer">
<div id="footer_inner">
    <div id="footer_right">{% flatcontent footer %}</div>
</div>
</div>

</body>
