{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_events %}
<li class="active">
    <h2><a href="{% url 'bjwebb.views.events' %}">{% flatcontent events_title %}</a></h2></li>
{% endblock %}

{% block content %}

<h2>
    {{ event.name }}
</h2>

<div class="subtitle">
    Part of
    <a href="{% url 'bjwebb.views.project' event.project.slug %}">
        {{ event.project.name }}</a>,
    took place
{% include 'bjwebb/nice_dates.html' with object=event %}
</div>

<div class="section">
{{ event.text|safe|linebreaks }}
</div>

{% if event.external_url %}
<div class="section">
    <h3>
        Links
    </h3>
    {% if event.external_url %}
    <p>
        {% if event.external_url_name %}
        <a href="{{event.external_url}}">{{ external_url_name }}</a>
        {% else %}
        <a href="{{event.external_url}}">{{event.name}}</a>
        {% endif %}
    </p>
    {% endif %}
</div>
{% endif %}

{% include 'bjwebb/comment_sections.html' with object=event %}

{% endblock %}
