{% extends 'bjwebb/base.html' %}
{% load flatcontent_tags %}
{% load url from future %}

{% block header_posts %}
<li class="active">
    <h2><a href="{% url 'bjwebb.views.posts' %}">{% flatcontent posts_title %}</a></h2></li>
{% endblock %}

{% block content %}

<h2>
    {{ post.title }}
</h2>

<div class="subtitle">
<ul>
    <li>
    Posted in: 
    <a href="{% url 'bjwebb.views.project' post.project.slug %}">
        {{ post.project.name }}</a>
    </li>
    <li>
        Created: {{ post.created }}
    </li>
    <li>
        Last Updated: {{ post.updated }}
    </li>
</ul>
</div>

<div class="section">
{{ post.text|safe|linebreaks }}
</div>

{% include 'bjwebb/comment_sections.html' with object=post %}

{% endblock %}
